* {
  margin-top: 0px;
  margin-bottom: 0px;
}

#card {
  font-family: sans-serif;
  background-color: #c3cfe2;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 10px;
}

main {
  background-color: #fff;
  color: grey;
  text-align: center;
  font-size: 28px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

main img {
  position: relative;
  border-radius: 120px;
  bottom: -60px;
  margin-bottom: 10px;
  z-index: +1;
}

footer {
  background-color: #686de0;
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
}

footer h3 {
  color: lightgray;
}

.testimonial {
  border: 2px solid grey;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  padding-bottom: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 400px;
}

.portfolio {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  grid-gap: 40px;
  position: relative;
}

.grid-item {
  width: 70%;
  position: relative;
}

.grid-item span{
  display: none;
  position: absolute;
  top: 200px;
  left:200px;
}

.grid-item:hover {
  filter:grayscale(100%);
  background-color: grey;
  position: relative;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.grid-item:hover span{
  display: block;
}

img {
  width: 100%;
}

.grid-item:hover img {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.social-media{
  position: fixed;
  right: 0;
  top: 30px;
  flex-direction: column;
  justify-content: center;
  color: white;
  transform: translate(296px,0);
}

.social-media a{
  color: #fff;
  background-color: rgb(61, 61, 71);
  font-size: 15px;
  text-decoration: none;
  display: block;
  padding: 20px;
  margin: 5px;
  width:300px;
  text-align: left;
  transition: 1s;
  transition-property: transform;
}

.social-media a:hover{
transform: translateX(-200px);
}

.social-media i {
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
  height: 15px;
}

.social-media a:nth-child(1) {
  background-color: #e17b77;
}

.social-media a:nth-child(2){
  background-color: #00aced;
}

.social-media a:nth-child(3){
  background-color: #3b5998;
}

.social-media a:nth-child(4){
  background-color: #007bb6;
}

.social-media a:nth-child(5){
  background-color: #333;
}

@media (min-width: 360px) {
  .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
}

@media (min-width: 720px) {
  .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 40px;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-row: 40;
    grid-area: 40px;
  }
  .grid-item span{
    top: 50%;
    left: 50%;
  }
}
/*# sourceMappingURL=Style.css.map */
